html{
    font-family: "Montserrat";
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-size: 36px;
}
body{
    margin: 0;
}
h1{
    font-size: 1rem;
    margin: 0 0;
    
}
#navbar{
    background-color: #02A28F;
    width: 1440px;
    height: 70px;
    opacity: 1px;
    gap: 10px;
    padding-top: 16px;
    padding-right: 156px;
    padding-bottom: 16px;
    padding-left: 156px;
    align-items: center;
    
}
#container{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #f0f0f0;
}
